body{
  background-color: $light-gray;
}

.wrapper{
  //font-family: 'Noto Sans JP', sans-serif;
  
  .header{
    @include bp(lg) {
      margin-bottom: 10px;
    }

    nav{
      padding: 10px;
      border-bottom: solid 1px $dark-gray;
      vertical-align: middle;

      .n-brand{
        display: inline-block;
        margin-left: 20px;

        img.n-brand-img{
          width: 90px;

          @include bp(){
            width: 120px;
          }
        }
      }

      ul.navigation{
        display: inline-block;
        margin: 0;
        list-style: none;

        li.n-item{
          display: inline-block;
          margin: 0 5px;
          padding: 2px;

          @include bp(){
            margin: 0 10px;
            padding: 10px;
          }

          a.n-link{
            font-weight: 700;
            color: $darker-gray;
          }
        }
      }
    }

    .jumbo{
      position: relative;
      min-height: 320px;
      background-size: cover;
      overflow: hidden;

      @include bp(lg){
        min-height: 560px;
      }

      video#jumbo-video{
        position: absolute;
        left: 0;
        width: 120%;
        margin: auto;
        z-index: -1;

        @include bp(sm){
          width: 110%;
        }

        @include bp(){
          top: -50%;
        }

        @include bp(lg){
          width: 100%;
        }
      }

      .header-content{
        margin: 20px 0 0 20px;
        z-index: 0;
      
        .header-title{
          color: #fff;
          font-size: 3em;
          font-weight: 700;

          @include bp(){
            font-size: 5em;
          }

          .red{
            display: inline;
            color: $nisikigoi;
          }
        }

        .header-summary{
          color: #fff;
          font-size: 1.5em;
          font-weight: 700;

          @include bp(){
            font-size: 3em;
          }
        }

      }
    }
  }

  .container{
    width: 90%;
    margin: 10px auto;
    padding: 0 10px;
    background: #fff;

    @include bp(lg){
      width: 55%;
    }

    h2.page-title{
      padding: 2px;
      font-size: 2.5em;
      font-weight: $weight-bold;
      color: $light-black;
    }

    section{
      margin: 20px 0;

      h3.article-title{
        font-weight: $weight-bold;
        color: $light-black;
        border-bottom: solid 1px $dark-gray;
        padding: 5px;
      }
      
      h4.section-title{
        font-weight: $weight-bold;
        color: $light-black;
        border-bottom: solid 1px $dark-gray;
        padding: 5px;
      }

      h4.summary{
        padding: 5px;
        display: inline-block;
        color: #fff;
        background-color: $darker-gray;
      }
  
      p.description{
        letter-spacing: 1px;
        color: $light-black;
      }

      iframe.tip-movie{
        width: 100%;
      }

      ul.tips-list{
        list-style: none;
        padding: 0;

        li.tips-list-item{
          border: solid 1px #ddd;
          margin-bottom: 10px;
          width: 100%;

          a{
            color: $darker-gray;

            img.tips-list-thumb{
              display: inline-block;

              @include bp(sm){
                width: 96%;
                margin: 2%;
              }
              
              @include bp(md){
                width: 200px;
                margin: 10px;
              }
            }
  
            .item-data{
              display: inline-block;
              margin: 10px;
  
              h3.item-name{
                font-weight: $weight-bold;
  
                span.item-id{
                  margin-right: 5px;
                  padding: 0 5px;
                  background: #fc6666;
                  color: #fff;
                  font-size: 0.8em;
                }
              }
            }
          }
        }
      }

      .tips-howto{
        h4.summary{
          padding: 10px;
          font-weight: $weight-bold;
          color: $darker-gray;
        }
      }
    }
  }

  .footer{
    text-align: center;
    border-top: solid 1px $light-gray;

    .copyright{
      padding: 20px;
      color: $darker-gray;
    }
  }
}