<template lang="pug">
  article.tip-detail
    section#tip-info
      h3.article-title {{ tip.title }}
      iframe.tip-movie(v-if="tip.video" width="560" height="315" :src="'https://www.youtube-nocookie.com/embed/' + tip.video" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    section#tip-summary
      h4.summary {{ tip.summary }}
      p.description {{ tip.introduction }}
    section#tip-howto
      h4.section-title やり方
      ol.tip-procedure
        li(v-for="item in tip.procedure") {{ item }}
    section#tip-trial
      h4.section-title 体験者の声
      ul.tip-voice
        li(v-for="voice in tip.trial") {{ voice }}
    section#tip-conclusion
      h4.section-title 備えよう
      ul.list-default
        li(v-for="sentence in tip.conclusion") {{ sentence }}
    section#tip-ref
      h4.section-title 参考
      ul
        li(v-for="(value, index) in tip.ref")
          a.ref-title(:href="value.url") *{{ index + 1 }} {{ value.title }} 

    .tips-control
      nuxt-link(to="/tips") 一覧へ
</template>

<script>
import tips_data from '@/static/tips.json'

const url_format = '/tips/'

export default {
  name: 'tips_detail',
  data: () => {
    return {
      tip: null

    }
  },
  methods: {
    fetchData: function() {
      const tip_id = this.$route.params.id
      this.tip = tips_data.find(item => item.id == tip_id)
    }
  },
  created: function() {
    this.fetchData()
  }
}
</script>