<template lang="pug">
  section.tips
    h2.page-title まなぶ
    section.tips-list
      TipsList
</template>

<script>
import TipsList from '@/components/TipsList'

export default {
  name: 'tips',
  layout: 'default',
  components: {
    TipsList
  }
}
</script>