<template lang="pug">
  .copyright © {{ nowYear }} 一般社団法人 Do It Yourself
</template>

<script>
const date = new Date()
const year = date.getFullYear()

export default {
  data() {
    return {
      nowYear: year
    }
  }
}
</script>