<template lang="pug">
  li.tips-list-item
    nuxt-link(v-bind:to="{ name: 'tips-id', params: { id: id }}")
      img.tips-list-thumb(:src="thumb")
      .item-data
        h3.item-name
          span.item-id # {{ id }}
          | {{ title }}
        .item-summary {{ summary }}
</template>

<script>
export default {
  name: 'tips_list_item',
  props: ['id', 'thumb', 'title', 'summary']
}
</script>