<template lang="pug">
  ul.tips-list
    TipsListItem(
      v-for = 'item in tips'
      v-bind:id = 'item.id'
      v-bind:title = 'item.title'
      v-bind:thumb = 'item.thumb'
      v-bind:summary = 'item.summary'
      :key = 'item.id'
    )
</template>

<script>
import TipsListItem from '@/components/TipsListItem'
import tips_data from '@/static/tips.json'

export default {
  name: 'tips_list',
  components: {
    TipsListItem
  },
  data () {
    return {
      tips: tips_data
    }
  }
}
</script>