<template lang="pug">
  .wrapper
    .header
      NavMenu
    .container
      nuxt
    .footer
      Footer
</template>

<script>
import Footer from '@/components/common/Footer.vue'
import NavMenu from '@/components/NavMenu.vue'

export default {
  components: {
    Footer,
    NavMenu
  },
}
</script>