<template lang="pug">
  .wrapper
    .header
      NavMenu
      Header
    .container
      nuxt
    .footer
      Footer
</template>

<script>
import Header from '@/components/common/Header.vue'
import Footer from '@/components/common/Footer.vue'

import NavMenu from '@/components/NavMenu.vue'

export default {
  components: {
    Header,
    Footer,
    NavMenu
  },
}
</script>