<template lang="pug">
  div
    section.introduction
      h2.page-title 災害に備える
      p.description 「減災教室」では、災害時に起こる問題をあらかじめ想定し、備える方法を知ることができます。
        | ここでは、防災・減災の取り組みを各自で進める時のイメージがしやすいよう、動画で示します。
        | また、WEBアプリやプリントで提供している「減災教室」の20項目を確認すれば、あなたの 防災・減災対策の現状と課題を振り返ることができます。
    section.random-tips
      h3.section-title オススメ
      ul.tips-list
        TipsListItem(
          v-bind:id = 'tips.id'
          v-bind:title = 'tips.title'
          v-bind:thumb = 'tips.thumb'
          v-bind:summary = 'tips.summary'
        )

</template>

<script>
import TipsListItem from '@/components/TipsListItem'
import tips_data from '@/static/tips.json'

const max = tips_data.length
const rand = Math.floor(Math.random() * Math.floor(max))

export default {
  name: 'index',
  layout: 'top',
  components: {
    TipsListItem
  },
  data() {
    return {
      tips: tips_data[rand]
    }
  }
}
</script>